/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
  color: #1a1009;
  max-width: 1800px;
  /* background-image: radial-gradient( circle 1136px at 5.2% 14%,  #FFFFFF 0%, #b69982 200% ); */
  margin: 0;
  padding: 0;
}

/* ------------------------------------- */
:root {

	--grey-500: hsl(0, 0%, 50%);
	--grey-700: hsl(0, 0%, 70%);


	--spacer: 1rem;
	--spacer-quarter: calc(var(--spacer) / 4);
	--spacer-half: calc(var(--spacer) / 2);
	--spacer-bigger: calc(var(--spacer) * 1.5);
	--spacer-double: calc(var(--spacer) * 2);
}
/* pro MOBIL!!!! */
hr {
  color: #1a1009;
}

.header__nazov {
  font-size: 24px;
}

.image__uvod {
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 0.99;
}

.onas__image--bager {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
}

.onas__text--popis,
.onas__text--title {
  text-align: justify;
  padding: 5px 40px;
}

.onas {
  margin-bottom: 50px;
}

.onas__text {
  border: 2px solid #1a1009;
  box-shadow: #b19682 4px 4px;
  background-color: #f0ecea;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
}

.header {
  width: 100%;
  padding: 5px 15px;
}

/* MENU */
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
/*
.menu__logo {
  width: 40px;
  height: 40px;
  margin: 10px;
} */

.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  /* border: 1px solid white; */
  border-radius: 10px;
  box-shadow: #856c57 2px 3px;
  margin: 2px;
  background-color: #1a1009;
}

.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu__link:hover {
  background-color: #6d5643;
  border-radius: 10px;
}

.menu__link:focus {
  background-color: #6d5643;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
}

.menu__toggler {
  cursor: pointer;
}

.tenor-gif-embed {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

/* SLUZBY!! */
.sluzby__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sluzby__vykopove {
  flex-direction: column;
  width: 100%;
  padding: 5px 40px;
}

.sluzby__doprava {
  flex-direction: column;
  width: 100%;
  padding: 5px 40px;
}

.sluzby__title {
  padding: 5px 10px;
}

.sluzby__text {
  width: 100%;
  padding: 20px;
  text-align: justify;
}

.sluzby__image {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding-bottom: 20px;
}

.sluzby__foto {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  border-radius: 50%;
}

/* TECHNIKA!! */
.technika__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.technika__vykop {
  flex-direction: column;
  width: 100%;
}

.technika__doprava {
  flex-direction: column;
  width: 100%;
}

.technika__stroje,
.technika__auta {
  margin: 20px auto;
  text-align: center;
}

.technika__title,
.technika__podnadpis {
  padding: 10px 55px;
  margin: 10px auto;
}

.technika__list {
  padding: 10px 75px;
  margin: 10px auto;
}

.technika__text {
  width: 90%;
  padding: 15px;
  margin: 0 auto;
  text-align: justify;
}

.technika__image {
  width: 100%;
  padding: 15px;
  border-radius: 50%;
  margin: 0 auto;
}

.technika__bager--image,
.technika__unc--image,
.technika__liaz--image,
.technika__ducato--image,
.technika__kamion--image {
  width: 70%;
  margin: 0 auto 30px auto;

}

/* GALERIA!!! */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery__title {
  padding:  15px 30px;
}

.gallery__grid {
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  width: 90%;
  padding: 10px 10%;
}


/* CENNIK!!! */

.cennik__title {
  font-style: italic;
  text-align: center;
  margin-top: 50px;
}

.cennik__table {
  margin: 10px auto;
  padding: 20px 40px;
}

.table__item {
  border-bottom: 2px solid #303339;
  text-align: left;
  padding: 15px;
}



/* KONTAKT!!! */

.kontakt__container {
  display: flex;
  flex-wrap: wrap;
}

.kontakt__grid {
  padding: 15px 35px;
  margin-bottom: 20px;
}

.form-field {
	margin-bottom: var(--spacer);
}

.form-field label {
	display: block;
	color: var(--grey-500);
	font-size: 15px;
	margin-bottom: var(--spacer-half);
}

.form-field :is(input, textarea, select) {
	width: 100%;
	padding: var(--spacer-half);
	border: 1px solid var(--grey-700);
	border-radius: 4px;
}

.required:after {
	content: "*";
	color: red;
	margin-left: 4px;
}

.map__image {
  width: 100%;
  padding: 15px;
}

/* FOOTER */

.footer {
  background-color: #1a1009;
  color: white;
  text-align: center;
  /* padding: 10px auto 30px auto; */
  width: 100%;
  /* margin-top: 20px; */
  font-size: 12px;

}

/* .kontajner__footer {
  border: 2px solid orange;
  margin: 0;
  padding: 5px;
} */

/* .content {
  min-height: calc(100vh - 84px);
} */


/* PC verze !!! */

@media screen and (min-width: 900px) {
  .header__nazov {
    font-size: 30px;
  }

  .header__box {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
  }


  .header__hlavicka {
    align-items: baseline;
  }
  .menu__box {
    align-items: baseline;
  }

  .onas {
    display: flex;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .onas__text {
    border: 2px solid #1a1009;
    box-shadow: #b19682 4px 4px;
    background-color: #f0ecea;
    border-radius: 20px;
    padding: 15px;
    width: 75%;
    margin: 50px 30px 30px 0;
  }

  .onas__image--bager {
    width: 100%;
    padding: 50px;
  }

  .onas__text--popis,
  .onas__text--title {
    text-align: left;
    padding: 15px;
  }


  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
    align-items: baseline;
  }

  .menu__toggler {
    display: none;
    }

  .menu__list {
    display: flex !important;
  }
/* 
  .menu__item {
    border-bottom: 0;

  } */

  /* SLUZBY!!! */

  .sluzby__content {
    /* flex-wrap: nowrap; */
    display: grid;
    grid-template-columns: 30px 1fr 1fr 50px;
    grid-template-rows: repeat(3, auto);
    gap: 30px;
  }

  .sluzby__vykopove,
  .sluzby__doprava {
    border: 2px solid green;
    margin: 20px;
    padding: 10px;
    border-radius: 10%;
    border: 2px solid #1a1009;
    box-shadow: #b19682 4px 4px;
    background-color: #f0ecea;
  }

  .sluzby__vykopove {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .sluzby__doprava {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .sluzby__text--ponuka {
    padding: 20px;
  }

  .sluzby__foto {
    /* width: 70%;
    margin-left: auto;
    margin-right: auto; */
    border: 2px solid #1a1009;
    box-shadow: #b19682 4px 4px;
    border-radius: 50%;
    background-color: #f0ecea;
    padding: 5px;
  }
  .sluzby__image {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;

  }

  /* GALERIA */

.gallery {
  padding: 40px;
}

  .gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    gap: 10px;
  }

  .gallery__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
  }

  .gallery__item:nth-child(5n+2) {
    grid-column: span 2;
    grid-row: span 2;
  }

/* TECHNIKA!!! */
  .technika__container {
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: 1fr;
  }

  .technika__stroje {
    width: 80%;
    padding: 0 20px;
    margin: 20px auto;
    /* text-align: center; */
    /* display: grid; */
  }

  .technika__text,
  .technika__title {
    text-align: center;
  }

  .technika__vykop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    padding: 20px;
    gap: 50px;

  }

  .technika__bager--text {
    grid-column: 1/2;  
    grid-row: 2/3;
    justify-self: center;

  }

  .technika__bager--image,
  .technika__unc--image {
    width: 80%;
    padding: 0;
    margin: 0;
    justify-self: center;
  }

  .technika__image {
    /* border: 2px solid green; */
    border-radius: 50%;
  }

  .technika__unc--text {
    grid-column: 2/3;  
    grid-row: 2/3;
    justify-self: center;
}



  .technika__auta {
    width: 80%;
    padding: 0 20px;
    margin: 20px auto;
  }

  .technika__doprava {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    padding: 20px;
    gap: 30px;
  }

  .technika__liaz--text {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0 20px;
    justify-self: center;
    width: 90%;
  }

  .technika__liaz--image {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 80%;
    width: 85%;
    justify-self: center;
  }

  .technika__ducato--text {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0 20px;
    justify-self: center;
  }

  .technika__ducato--image {
    height: 80%;
    width: 85%;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
  }

  .technika__kamion--text {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
}

  .technika__kamion--image {
    height: 80%;
    width: 85%;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: center;
  }

  hr {
    width: 100%;
  }

  /* .technika__vykop {
    flex-wrap: nowrap;
    flex-direction: none;
    display: flex;
  } */

/* 
  CENNIK!!! */

  .cennik__title {
    /* padding: 20px; */
    text-align: center;
    margin-top: 50px;
  }

  .cennik__table {
    margin: 0 auto;
    padding-bottom: 25%;
  }
/*
 **************************************
	KONTAKT
 **************************************
*/

.kontakt__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--spacer-bigger);
  padding: 40px;
}

.kontakt__title {
	margin-top: var(--spacer-double);
}


/*
 **************************************
	MAPA
 **************************************
*/
.map {
	padding: 0 0 20px 0;
}


/*
 **************************************
	FORMULAR
 **************************************
*/

.form-field {
	margin-bottom: var(--spacer);
}

.form-field label {
	display: block;
	color: var(--grey-500);
	font-size: 15px;
	margin-bottom: var(--spacer-half);
}

.form-field :is(input, textarea, select) {
	width: 100%;
	padding: var(--spacer-half);
	border: 1px solid var(--grey-700);
	border-radius: 4px;
}

.required:after {
	content: "*";
	color: red;
	margin-left: 4px;
}

}
.kontajner {
  width: 100%; 
  max-width: 1500px; 
  background-image: radial-gradient( circle 1136px at 5.2% 14%,  #FFFFFF 0%, #dfd2c7 200% );
  margin: 0 auto;
}

/* .onas__container,
.header__container { 
  width: 100%; 
  max-width: 1700px; 
  margin-left: auto; 
  margin-right: auto;
} */


/* FOOter!!! */

.footer {
  /* background-color: #1a1009;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%; */
  /* margin-top: 20px; */
  height: 64px;
  font-size: 18px;
  padding: 10px;
}

.content {
  min-height: calc(100vh - 84px);
}